td#r2c1 {
    font-style: italic;
}
td#r3c1 {
    font-style: italic;
}
td#r4c1 {
    font-style: italic;
}
td#r5c1 {
    font-style: italic;
}
td#r6c1 {
    font-style: italic;
}

td#r2c2 {
    color:red;
}
td#r3c2 {
    color:red;
}
td#r4c2 {
    color:red;
}
td#r5c2 {
    color:red;
}
td#r6c2 {
    color:red;
}

td#r2c4 {
    color:blue;
}
td#r3c4 {
    color:blue;
}
td#r4c4 {
    color:blue;
}
td#r5c4 {
    color:blue;
}
td#r6c4 {
    color:blue;
}

tr#r2 {
    background-color: lightgreen;
}
tr#r3 {
    background-color: lightblue;
}
tr#r4 {
    background-color: lightgreen;
}
tr#r5 {
    background-color: lightblue;
}
tr#r6 {
    background-color: lightgreen;
}

dt#t1:hover + dd#d1 {
    background-color: purple;
}
dt#t2:hover + dd#d2 {
    background-color: purple;
}
dt#t3:hover + dd#d3 {
    background-color: purple;
}

.outer-content {
    width:75%;
    background-color:pink;
    margin-top:20px;
    padding:5px;
}
.inner-content {
    width:75%;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    background-color:blue;
}